nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}

main{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
}

body {
    background: #DEDEDE url('../Images/bg01.png') no-repeat fixed center 300px;
    color: #676767;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}

.#watermark {
    margin: 0 auto;
    height: 91%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
    filter: alpha(opacity=10); /* for <= IE 8 */
    background-image: url("../Images/Logo_CVOAntwerpen.png");
    background-size: auto;
    background-position:center,center,center,center;
    background-repeat:no-repeat;
    display: block;
    z-index:-1;
}

.navIconSmall img {
    width: 30px;
    height: 30px;
}

.navLogo img {
    height: 30px;
    width: auto;
}

table, td {
    padding: 5px;
    vertical-align: top;
    border-collapse: collapse;
}

th {
    background-color: #DB5C3D;
    font-weight: bold;
    border: 1px solid #DB5C3D;
    color: #FFF;
}

#centerContainer{
    max-width: 1000px;
    max-width: 955px;
    width: 85%;
    min-width: 300px;
    background: #FFF;
}

#contentContainer{
    padding: 10px;
    background-image: url("../Images/Logo_CVOAntwerpen_watermark.png");
    background-size: auto;
    background-attachment: fixed;
    background-position:center,center,center,center;
    background-repeat:no-repeat;
    back
}

.img_StatusCirkelGroen {
    background-image: url('../Images/Circle_V.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_StatusCirkelBlauw {
    background-image: url('../Images/Circle_empty.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_StatusCirkelRood {
    background-image: url('../Images/Circle_X.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_StatusNoteRood {
    background-image: url('../Images/Note_X.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_StatusNoteGroen {
    background-image: url('../Images/Note_V.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_Vakantie {
    background-image: url('../Images/icon_Sun.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_Les {
    background-image: url('../Images/Note_White.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_Deadline {
    background-image: url('../Images/icon_Clock.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_nav_right_white {
    background-image: url('../Images/nav_right_white.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.img_nav_left_white {
    background-image: url('../Images/nav_left_white.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.moodleCourse {
    font-size: 25px;
    padding-bottom: 10px;
}

.moodleAssignment {
    font-size: medium;
    font-weight: bold;
    padding: 0px 0px 10px 10px;
}

.moodleGrade {
    font-weight: normal;
    padding-left: 10px;
}

.containerBig {
    width: 100%;
    border: 2px solid #DB5C3D;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px 0px;
}

.containerSmall {
    flex-direction: column;
    display: flex;
    width: 300px;
    flex-grow: 0;
    border: 2px solid #DB5C3D;
}

.containerOfAllThingsTiny {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.containerLegende {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.containerTitle {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #DB5C3D;
    padding: 7px;
    font-size: large;
    color: #FFF;
    border-radius: 5px 0px 0px 0px;
    font-size:22px;
}


.legendeItems {
    align-content: flex-end;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.legendeItem {
    width: 30%;
    min-width: 300px;
    padding: 5px;
}

.containerTraject {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #DB5C3D;
}

.itemTraject {
    width: 50%;
    padding: 4px 0px 4px 7px;
    display: block;
    box-sizing: border-box;
}

.shaded {
    background-color: #FFF5F5;
    border-radius: 10px 0px;
}

.titleTraject {
    display: block;
    box-sizing: border-box;
    background-color: #DB5C3D;
    padding: 7px;
    font-size: large;
    color: #FFF;
}

.containerCalendarRow {
    display: flex;
    box-sizing: border-box;
}

.containerCalendarTitle {
    box-sizing: border-box;
    background-color: #DB5C3D;
    padding: 7px 7px 7px 7px;
    font-size: large;
    color: #FFF;
    flex-grow: 1;
    flex-basis: 100px;
}

.containerCalendarRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerCalendarColumn {
    flex-grow: 1;
    flex-basis: 100px;
    padding: 2px 7px 2px 7px;
}

.columnTiny {
    flex-basis: 50px;
}

.columnBig {
    flex-basis: 200px;
}

.columnMed {
    flex-basis: 150px;
}

.optionButton {
    width: 125px;
    height: 50px;
    border: none;
    font-size: large;
    color: #676767;
    border: 2px solid #DB5C3D;
    margin: 5px;
}

.optionSelected {
    background-color: #DB5C3D;
    color: #FFF;
}

.optionButton:hover {
    background-color: #FFF5F5;
    color: #676767;
}

.containerOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;
}

.itemBox {
    border-radius: 10px 0px;
    min-width: 280px;
    width: 45%;
    max-width: 500px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.itemTitle {
    border-radius: 10px 0px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #DB5C3D;
    padding: 7px;
    font-size: large;
    color: #FFF;
    font-size:22px;
}

.itemContainer {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-flow: row wrap;
}

.itemContent {
    display: none;
    border-radius: 0px 0px 10px 0px;
    border: 2px solid #DB5C3D;
    background-color: #FFF;
}

.itemBox:target > .itemTitle {
    border-radius: 10px 0px 0px 0px;
}

.itemBox:target > .itemContent {
    display: block;
}

.iconExpand{
    float: right;
}

.iconBg{
    display: inline-block;
    border-radius: 5px 0px;
    background-color: #DB5C3D;
    padding: 4px 4px 0px 4px;
}

.itemContentTitle{
    color: #DB5C3D;
    font-size:22px;
    /*font-weight:bold;*/
    padding: 5px;
}

.itemContentText{
    padding: 2px 10px;
}

.homeLinkButton{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border-radius: 10px 0px;
    /*width: 280px;*/
    min-width: 300px;
    width: 45%;
    max-width: 500px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #DB5C3D;
    padding: 7px;
    font-size: large;
    color: #FFF;
    font-size:22px;
    line-height: 50px;
}

.homeLinkButtonContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.roosterBox{
    margin-bottom: 2px;
    width: 100%;
    max-width: 100%;
}

.roosterBox > .itemTitle {

    font-size:15px;
}

.roosterBox > .itemTitle > div {
    display: inline-block;

}

.roosterModule{
    min-width: 250px;
}

.roosterDatum, .roosterTijd{
    min-width: 125px;
}

.itemContentText.rooster{
    display:inline-block;
    min-width: 200px;
}

.loginForm > button{
    border: 2px solid #676767;
    border-radius: 5px 0px;
    color: #676767;
}

.loginForm > button:hover{
    background-color: #FFF5F5;
}

.kalenderBox{
    /*width: 14%;*/
    width: 130px;
    min-width: 130px;
    /*margin: 5px 2px;*/
}

.kalenderIcons{
    height:20px;
}

.kalenderBox.blue > .itemTitle{
    background-color: #0076C8;
}

.kalenderBox.blue > .itemContent{
    border: 2px solid #0076C8;
}

.kalenderBox.fade > .itemTitle{
    background-color: #D69284;
}

.kalenderBox.fade > .itemContent{
    border: 2px solid #D69284;
}

.itemContainer.kalender{
    justify-content: space-around;
}

.itemBox.kalenderBox:target{
    width: 100%;
    min-width :260px;
    max-width: 1000px;
    display: block;
}

.kalenderWeek{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.kalenderTitle{
    width: 100%;
    box-sizing: border-box;
    background-color: #DB5C3D;
    padding: 7px;
    font-size: large;
    color: #FFF;
    border-radius: 5px 0px 0px 0px;
    font-size:28px;
    display: flex;
align-items: center;
justify-content: center;
margin-bottom:10px;
    
}

.kalenderTitle > div{
    margin:0px auto;
    display: inline-block;
}