@{
    /* Coordinating controller */
    string message = "Alles gaat goed.";

    List<Administratix.BLL.DelibiratieDate> Resultaat = new List<Administratix.BLL.DelibiratieDate>();
    string action = "none";
    bool result = false;
    if (IsPost)
    {
        action = Request["action"];
        if (Request["search"] != null)
        {
            action = "search";
        }
        switch (action)
        {
            case "search":
                Resultaat = Administratix.Model.DelibiratieDate.SelectDeliberatieDateByCursistNummer(Convert.ToInt32(Request["DelibiratieDate-CursistNummer"]));
                break;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div class="control-panel">
            <a href="Default.cshtml">
                <span class="icon-menu2"></span>
                <span class="screen-reader-text">Home</span>
            </a>
        </div>
        <h1>Administratix</h1>
        <h1 id="Soort">Traject</h1>
    </header>
    <main>
        <aside>
            <form id="search" action="" method="post">
                <input type="text" name="DelibiratieDate-CursistNummer" id="DelibiratieDate-CursistNummer" /> <br />
                <br />
                <button type="submit" name="action" value="search">DelibiratieDate opvragen</button>
                <button type="submit" name="action" value="cancel">Annuleren</button>
            </form>
        </aside>
        <!-- View controller -->
        <form id="ViewTweedezit" action="" method="post">
            @{
                if (Resultaat.Count <= 0)
                {
                    <p>Geen Traject gevonden.</p>
                }
                else
                {
                    <table>
                        <tr>
                            <th>Module</th>
                            <th>Cursusnummer</th>
                            <th>DeliberatieDatum</th>
                            <th>TweedeZitDatum</th>
                        </tr>
                        @foreach (Administratix.BLL.DelibiratieDate res in Resultaat)
                        {
                            <tr>
                                <td>@res.Module</td>
                                <td>@res.Cursusnummer</td>
                                <td>@res.DeliberatieDatum</td>
                                <td>@res.TweedeZitDatum</td>
                            </tr>
                        }
                    </table>
                }
            }
        </form>
    </main>
    <footer>
        @message
    </footer>
</body>
</html>

