@{
    /* Coordinating controller */
    string message = "Alles gaat goed.";

    Administratix.BLL.LesDavinci lesrooster = new Administratix.BLL.LesDavinci();
    string action = "none";
    bool result = false;
    if(IsPost)
    {
        action = Request["action"];
        if (Request["search"] !=null)
        {
            action = "search";
        }
        switch(action)
        {
            case "search":
                lesrooster = Administratix.Model.LesDavinci.LesroosterTonen(Convert.ToInt32(Request["lesrooster-CursistNummer"]));
                break;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div class="control-panel">
            <a href="Default.cshtml">
                <span class="icon-menu2"></span>
                <span class="screen-reader-text">Home</span>
            </a>
        </div>
        <h1>Administratix</h1>
        <h1 id="Soort">Lesrooster</h1>
    </header>
    <main>
        <aside>
            <form id="search" action="" method="post">
                <input type="text" name="lesrooster-CursistNummer" id="lesrooster-CursistNummer" /> <br />
                <br />
                    <button type="submit" name="action" value="search">Zoek lessenrooster</button>
                    <button type="submit" name="action" value="cancel">Annuleren</button>
            </form>
        </aside>
        <!-- View controller -->
    </main>
</body>
</html>
