@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/TestFile.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <nav>
        <ul>
            <li>Link1</li>
            <li>Link2</li>
            <li>
                Link3
                <ul>
                    <li>Link3.1</li>
                    <li>Link3.2</li>
                </ul>
            </li>
            <li>Link4</li>
        </ul>
    </nav>
</body>
</html>
