@{
    /* Coordinating controller */
    string message = "Alles gaat goed.";
    int Resultaat = 0;
    string action = "none";
    bool result = false;
    if (IsPost)
    {
        action = Request["action"];
        if (Request["search"] != null)
        {
            action = "search";
        }
        switch (action)
        {
            case "search":
                Resultaat = Administratix.Model.TweedezitResultaat.UpdateTweedeZit(Convert.ToInt32(Request["Tweedezit-CursistNummer"]), Request["Tweedezit-CursusNummer"].ToString());
                break;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div class="control-panel">
            <a href="Default.cshtml">
                <span class="icon-menu2"></span>
                <span class="screen-reader-text">Home</span>
            </a>
        </div>
        <h1>Administratix</h1>
        <h1 id="Soort">Tweedezit</h1>
    </header>
    <main>
        <aside>
            <form id="search" action="" method="post">
                <input type="text" name="Tweedezit-CursistNummer" id="Tweedezit-CursistNummer" /> <br />
                <br />
                <input type="text" name="Tweedezit-CursusNummer" id="Tweedezit-CursusNummer" /> <br />
                <br />
                <button type="submit" name="action" value="search">Tweedezit updaten</button>
                <button type="submit" name="action" value="cancel">Annuleren</button>
            </form>
        </aside>
        <!-- View controller -->
        <form id="ViewTweedezit" action="" method="post">
            @{

                }
            
        </form>
    </main>
    <footer>
        @message
    </footer>
</body>
</html>

