@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="footer">
        <p>&copy; 2015 Projectwerk HBO Informatica. All rights reserved.</p>
        <img src="~/Images/Logo_mobileCVO.jpg" />       
    </div>
</body>
</html>
