<header>
    <div class="header">
        <img src="~/Pictures/logocvoantwerpen1.png" />
        <p>Cursist Nummer<input type="text" /></p>
        <button type="submit" name="action" value="Inloggen">Inloggen</button>
    </div>
</header>