@{

    Layout = null;

    string action = "";

    Administratix.BLL.Cursist cursist = new Administratix.BLL.Cursist();
        
    if (IsPost)
    {
        action = Request["action"];
        if (action != null)
        {
            if (action.Equals("login"))
            {

                Session["cursist"] = Administratix.Model.Cursist.CursistSelectAllByCursistNummer(Convert.ToInt32(Request["Login-CursistNummer"])); ;
            
            }
            if (action.Equals("logout"))
            {
                Session["cursist"] = null;
            }
        }

    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="header">
        <img src="~/Images/Logo_CVOAntwerpen.png" />
        @if (Session["cursist"] != null)
        {
            <form id="login" action="" method="post" class="loginForm">
                @{cursist = (Administratix.BLL.Cursist)Session["cursist"];}
                <label>Ingelogd als @cursist.Voornaam @cursist.Familienaam (@cursist.CursistNummer)</label>

                <button type="submit" name="action" value="logout">Log uit</button>
            </form>
            //Session["cursistNummer"].ToString();
        }
        else
        {
            <form id="login" action="" method="post" class="loginForm">
                <input type="number" required name="Login-CursistNummer" id="Login-CursistNummer" />  <button type="submit" name="action" value="login">Inloggen</button>
            </form>
        }

        @*<p>Cursist Nummer :<input type="text" /></p>*@
        @*<button type="submit" name="action" value="Inloggen">Inloggen</button>*@
    </div>
</body>
</html>

