@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="header">
        <img src="~/Images/Logo_CVOAntwerpen.png" />
        <p>Cursist Nummer :<input type="text" /></p>
        <button type="submit" name="action" value="Inloggen">Inloggen</button>
    </div>
</body>
</html>
