@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.title</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
        <main>
            <div id="centerContainer">
                <div id="contentContainer">
                    @RenderPage("~/Shared/_Nav.cshtml")
                    <div id="watermark">
                    </div>
                    @RenderBody()
                </div>
            </div>
        </main>
</body>
</html>
