<nav>
    <div class="Nav">
        <img src="~/Pictures/PicMenu.png" />
        <img src="~/Pictures/PicLinks.png" />
        <img src="~/Pictures/PicPijlRechts.png" />
        <div class="links">
            <a href="">
                <img src="~/Pictures/1429563973_calendar.png" />
                <h2>
                    Kalender
                </h2>
            </a>


            <a href="">
                <img src="~/Pictures/1429563998_graduation_cap.png" />
                <h2>
                    Traject
                </h2>
            </a>


            <a href="">
                <img src="~/Pictures/1429564179_mouse.png" />
                <h2>Meldingen</h2>
            </a>

        </div>
    </div>
</nav>
