@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <nav>
        <div class="Nav">
            <img src="~/Images/home.png" />
            <img src="~/Images/nav_left.png" />
            <img src="~/Images/nav_right.png" />
            <div class="links">
                <a href="">
                    <img src="~/Images/kalender.png" />
                    <h2>
                        Kalender
                    </h2>
                </a>


                <a href="">
                    <img src="~/Images/traject.png" />
                    <h2>
                        Traject
                    </h2>
                </a>


                <a href="">
                    <img src="~/Images/contact.png" />
                    <h2>Contact</h2>
                </a>

            </div>
        </div>
    </nav>
</body>
</html>
