@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Home";

    string action = "";

    if (IsPost)
    {
        action = Request["action"];

        switch (action)
        {
            case "login":
                if (Session["cursist"] == null)
                {
                    try
                    {
                        Session["loginError"] = "";
                        Session["cursist"] = Administratix.Model.Cursist.Login(Request["Login-CursistNummer"]);
                    }
                    catch (Exception e)
                    {

                        Session["loginError"] = e.Message;
                    }

                }
                break;

            case "logout":
                Session["cursist"] = null;
                break;

        }
    }

}


@if (Session["cursist"] != null)
{
    <form id="login" action="" method="post" class="loginForm">
        @{Administratix.BLL.Cursist cursist = (Administratix.BLL.Cursist)Session["cursist"];}
        <label>Ingelogd als @cursist.Voornaam @cursist.Familienaam (@cursist.CursistNummer)</label>

        <button type="submit" name="action" value="logout">Log uit</button>
        <a href="~/Deelpagina's/Deadlines.cshtml"></a>
        <a href="~/Deelpagina's/Evenementen.cshtml"></a>
        <a href="~/Deelpagina's/ExamenData.cshtml"></a>
        <a href="~/Deelpagina's/ExamenPunten.cshtml"></a>
        <a href="~/Deelpagina's/Lessenrooster.cshtml"></a>
        <a href="~/Deelpagina's/TrajectOverzicht.cshtml"></a>
    </form>
    //Session["cursistNummer"].ToString();
}
else
{
    <form id="login" action="" method="post" class="loginForm">
        @Session["loginError"]
        <input type="text" required name="Login-CursistNummer" id="Login-CursistNummer" />  <button type="submit" name="action" value="login">Inloggen</button>
    </form>
}
