@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Frieda";
    string message = "Alles gaat goed.";

    List<Administratix.BLL.StatusTraject> Resultaat = new List<Administratix.BLL.StatusTraject>();
    List<Administratix.BLL.Module> trajectModules = new List<Administratix.BLL.Module>();
    List<Administratix.BLL.CursusResultaat> resultaten = new List<Administratix.BLL.CursusResultaat>();
    List<KeyValuePair<int, int>> voorkennisPairs = new List<KeyValuePair<int, int>>();
    string action = "none";
    bool result = false;
    if (IsPost)
    {
        action = Request["action"];
        if (Request["search"] != null)
        {
            action = "search";
        }
        switch (action)
        {
            case "search":
                trajectModules = Administratix.Model.TrajectOverzicht.SelectTrajectModulesByCursistNummer(Convert.ToInt32(Request["StatusTraject-CursistNummer"]));
                resultaten = Administratix.Model.CursusResultaat.CursusResultaten(Convert.ToInt32(Request["StatusTraject-CursistNummer"]));
                trajectModules = Administratix.Model.TrajectOverzicht.CombineerModuleResultatenMetTrajectModules(trajectModules, resultaten);
                voorkennisPairs = Administratix.Model.TrajectOverzicht.SelectVoorkennisIdsByOpleidingsvariantId(140);
                trajectModules = Administratix.Model.TrajectOverzicht.ModulesAddVoorkennis(trajectModules, voorkennisPairs);
                //Resultaat = Administratix.Model.StatusTraject.SelectStatusByCursistNummer(Convert.ToInt32(Request["StatusTraject-CursistNummer"]));
                break;
        }
    }
}

<main>
    <aside>
        <form id="search" action="" method="post">
            <input type="text" name="StatusTraject-CursistNummer" id="StatusTraject-CursistNummer" />  <button type="submit" name="action" value="search">StatusTraject opvragen</button>
        </form>
    </aside>
    <!-- View controller -->
        @{
            if (trajectModules.Count <= 0)
            {
                <p>Je bent nog niet ingeschreven in een traject.</p>
            }
            else
            {
                <table>
                    <tr>
                        <th>Naam</th>
                        <th>Voorkennis</th>
                    </tr>
                    @foreach (Administratix.BLL.Module module in trajectModules)
                    {
                        <tr>
                            <td>@if (module.CrursistIsIngeschreven)
                            {
                                if (module.PuntenTotaal > 0)
                                {
                                    //@:Afgerond
                                    <img class="img_StatusGroen" />
                                }
                                else
                                {
                                    //@:Ingeschreven
                                    <img class="img_StatusOranje" />
                                }
                            }
                            else
                            {
                                <img class="img_StatusRood" />
                            }
                             @module.Naam</td>
                            <td>
                                @foreach (Administratix.BLL.Module voorkennis in module.VoorkennisModules)
                                {
                                    <div>
                                        @if (voorkennis.CrursistIsIngeschreven)
                                        {
                                            if (voorkennis.PuntenTotaal > 0)
                                            {
                                                //@:Afgerond
                                                <img class="img_StatusGroen" />
                                            }
                                            else
                                            {
                                                //@:Ingeschreven
                                                <img class="img_StatusOranje" />
                                            }
                                        }
                                        else
                                        {
                                            <img class="img_StatusRood" />
                                        }

                                    @voorkennis.Naam
                                </div>
                                }

                            </td>
                        </tr>
                    }
                </table>
            }
        }
</main>